<!DOCTYPE html />
<html>
	<head>
		<title>@Title</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link href="@(PathToCss)" rel="stylesheet" media="all" type="text/css" />
		<script src="@(PathToJs)" type="text/javascript"></script>
	</head>
	<body onload="prettyPrint()">
		<div id="container">
			<div id="background"></div>
			@if (@Sources.Count > 1) {
				<div id="jump_to">
					Jump To &hellip;
					<div id="jump_wrapper">
						<div id="jump_page">
							@for (var i = 0; i < Sources.Count; i++) {
								<a class="source" href="@GetSourcePath(Sources[i])">
									@Sources[i].Substring(2)
								</a>
							}
						</div>
					</div>
				</div>
			}
			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th class="docs">
							<h1>@Title</h1>
						</th>
						<th class="code"></th>
					</tr>
				</thead>
				<tbody>
									<tr id="section_@(i + 1)">
						<td class="docs">
							<div class="pilwrap">
								<a class="pilcrow" href="#section_@(i + 1)">&#182;</a>
							</div>
							DocumentationModel.java
						</td>
						<td class="code">
						<pre><code class='prettyprint'></code></pre>
						</td>
						
					</tr>
					<tr id="section_@(i + 1)">
						<td class="docs">
							<div class="pilwrap">
								<a class="pilcrow" href="#section_@(i + 1)">&#182;</a>
							</div>
							FileModel.java
						</td>
						<td class="code">
						<pre><code class='prettyprint'></code></pre>
						</td>
						
					</tr>
					<tr id="section_@(i + 1)">
						<td class="docs">
							<div class="pilwrap">
								<a class="pilcrow" href="#section_@(i + 1)">&#182;</a>
							</div>
							Jocco.java
						</td>
						<td class="code">
						<pre><code class='prettyprint'></code></pre>
						<pre><code class='prettyprint'><p>/**
* @author Krilivye-Homestation This is the Jocco main class.
*/</p>
</code></pre>
						<pre><code class='prettyprint'><pre><code>/**
 * For Test interface
 */
</code></pre>
</code></pre>
						<pre><code class='prettyprint'><pre><code>/**
 * 
 * @param dirOrFile
 */
</code></pre>
</code></pre>
						<pre><code class='prettyprint'><pre><code>/**
 * @return a list of files
 */
</code></pre>
</code></pre>
						<pre><code class='prettyprint'><pre><code>/**
 * This setter does not permit null value
 * @param fileOrDir
 *            a file or a dir name
 */
</code></pre>
</code></pre>
						<pre><code class='prettyprint'><pre><code>/**
 * @return true if the process's have been correctly executed, false
 *         otherwise.
 * @throws Exception
 */
</code></pre>
</code></pre>
						<pre><code class='prettyprint'><pre><code>        if (line.contains(&quot;*&quot;)|| line.contains(&quot;////&quot;)) { //$NON-NLS-1$
</code></pre>
</code></pre>
						</td>
						
					</tr>
					<tr id="section_@(i + 1)">
						<td class="docs">
							<div class="pilwrap">
								<a class="pilcrow" href="#section_@(i + 1)">&#182;</a>
							</div>
							Messages.java
						</td>
						<td class="code">
						<pre><code class='prettyprint'></code></pre>
						<pre><code class='prettyprint'><p>/**
* The generated message classes
* 
* @author Krilivye-Homestation
* 
*/</p>
</code></pre>
						<pre><code class='prettyprint'><pre><code>/**
 * @param key
 *            a key string present in messages.properties
 * @return the corresponding value
 */
</code></pre>
</code></pre>
						</td>
						
					</tr>
					<tr id="section_@(i + 1)">
						<td class="docs">
							<div class="pilwrap">
								<a class="pilcrow" href="#section_@(i + 1)">&#182;</a>
							</div>
							messages.properties
						</td>
						<td class="code">
						<pre><code class='prettyprint'></code></pre>
						</td>
						
					</tr>
					<tr id="section_@(i + 1)">
						<td class="docs">
							<div class="pilwrap">
								<a class="pilcrow" href="#section_@(i + 1)">&#182;</a>
							</div>
							Program.java
						</td>
						<td class="code">
						<pre><code class='prettyprint'></code></pre>
						<pre><code class='prettyprint'><p>/**
* This is the programe launcher.
* 
* @author Krilivye-Homestation
* 
*/</p>
</code></pre>
						<pre><code class='prettyprint'><pre><code>/**
 * 
 */
</code></pre>
</code></pre>
						<pre><code class='prettyprint'><pre><code>/**
 * @param args
 *            command line arguments should be a file name or a directory
 * @throws IllegalArgumentException
 *             if the command line arguments are not legal.
 */
</code></pre>
</code></pre>
						</td>
						
					</tr>
					<tr id="section_@(i + 1)">
						<td class="docs">
							<div class="pilwrap">
								<a class="pilcrow" href="#section_@(i + 1)">&#182;</a>
							</div>
							Section.java
						</td>
						<td class="code">
						<pre><code class='prettyprint'></code></pre>
						<pre><code class='prettyprint'><pre><code>/**
 * @param docText
 * @param docCode
 */
</code></pre>
</code></pre>
						<pre><code class='prettyprint'><pre><code>/**
 * @return
 */
</code></pre>
</code></pre>
						<pre><code class='prettyprint'><pre><code>/**
 * @param string
 */
</code></pre>
</code></pre>
						<pre><code class='prettyprint'><pre><code>/**
 * @return
 */
</code></pre>
</code></pre>
						<pre><code class='prettyprint'><pre><code>/**
 * @param string
 */
</code></pre>
</code></pre>
						<pre><code class='prettyprint'><pre><code>/**
 * @return
 */
</code></pre>
</code></pre>
						<pre><code class='prettyprint'><pre><code>/**
 * @return
 */
</code></pre>
</code></pre>
						</td>
						
					</tr>
					<tr id="section_@(i + 1)">
						<td class="docs">
							<div class="pilwrap">
								<a class="pilcrow" href="#section_@(i + 1)">&#182;</a>
							</div>
							Template.java
						</td>
						<td class="code">
						<pre><code class='prettyprint'></code></pre>
						<pre><code class='prettyprint'><p>/**
* @author Krilivye-Homestation
* 
*/</p>
</code></pre>
						<pre><code class='prettyprint'><pre><code>/**
 * 
 */
</code></pre>
</code></pre>
						<pre><code class='prettyprint'><pre><code>/**
 * @param sections
 * @return the filled Template
 * @throws Exception
 */
</code></pre>
</code></pre>
						</td>
						
					</tr>
					<tr id="section_@(i + 1)">
						<td class="docs">
							<div class="pilwrap">
								<a class="pilcrow" href="#section_@(i + 1)">&#182;</a>
							</div>
							jocco.ftl
						</td>
						<td class="code">
						<pre><code class='prettyprint'></code></pre>
						</td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>